[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=5.1"
mypy = ">=0.720"

[packages]
numpy = ">=1.17"
sklearn = ">=0.21"

[requires]
python_version = "3.7"
